.cart-info {
    display: flex;
    margin-left: 400px;
    margin-top: 70px;
    position: relative;
}

.image {
    width: 600px;
    height: 400px;
    border-radius: 15px;
}

.cart-text-info {
    margin-left: 20px;
}

.title {
    font-size: 35px;
    font-weight: bold;
}

.sizes {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 10px 0;
    margin-top: 20px;
}

.size {
    width: 55px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: 0.2s;
}

.size:hover {
    background-color: #87bfa2;
    border-color: #87bfa2;
    color: white;
    transform: translateY(-2px);
}

.size.active {
    background-color: #2e805f;
    border-color: #2e805f;
    color: white;
}

.price-container {
    margin-top: 40px;
}

.button {
    margin-top: 30px;
    width: 300px;
    height: 50px;
    color: black;
    border: none;
    background-color: #87bfa2;
    font-size: 17px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
}
