body { background-color: #f4f4f4; }

.main-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-login-container {
    margin-top: 70px;
}

.logo-container {
    text-align: center;
}

.logo-container h2 {
    color: black;
    font-size: 50px;
}

.form {
    position: relative;
    text-align: center;
    width: 400px;
    border: 2px solid #e9e8e8;
    height: 450px;
    background-color: white;
}

.log-in {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 20px;
}

.input-section {
    margin-top: 80px;
}

.input-container {
    margin-top: 10px;
}

.input {
    padding-right: 150px;
    padding-left: 10px;
    height: 40px;
    border: 1px solid #e9e8e8;
    border-radius: 5px;
}

.check-box-container {
    margin-top: 10px;
}

.checkbox-label {
    margin-right: 20px;
}

.forgot-pass {
    font-size: 15px;
    color: black;
    text-decoration: black underline;
}

.button {
    margin-top: 20px;
    width: 330px;
    height: 50px;
    background-color: #181717;
    color: white;
    border: none;
}

.rule-container {
    margin-top: 10px;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.rule {
    display: block;
    font-size: 12px;
    line-height: 1.4;
    white-space: normal;
    word-wrap: break-word;
}

.log-in-variants {
    margin-top: 20px;
    font-size: 12px;
}

.social-networks {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-networks a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.google-icon,
.facebook-icon {
    width: 30px;
    height: auto;
    border: 1px solid #181717;
    padding: 6px;
}

.register-reference-container {
    margin-top: 40px;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.register-reference {
    display: block;
    font-size: 16px;
    line-height: 1.4;
    white-space: normal;
    word-wrap: break-word;
}

.error {
    display: block;
    color: red;
}